.container{
    height: 500px;
    margin: auto;
}

.row{
    width: 1000px;
    height: 150px;
    margin: 14px;
}

.yellow{
    background: yellow;
}

.red{
    background: red;
}

@media(max-width:1020px){
    .container{
        display:flex;
    }
}
